# Netflix Database

In the following Notebook we are going to explore the Netflix dataset downloaded from Kaggle. 
*The aim of this notebook is to create a model that can predict the clusters of the films according to different features.* For instance, we want to **classify in clusters the films and series (in separate ways) considering the actors, countries and directors and figure out if each clusters may be similar to the different genres.**

+ Firstly, we are going to split the dataset between movies and series.

+ Secondly, we are goint to wor with the features, encoding and proccesing them.

In [11]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy
import pandas
import seaborn
import scipy
from scipy import stats

## Upload Dataset

In [12]:
data = pandas.read_csv('netflix_dataset.csv')

In [13]:
data[:5]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [9]:
data.shape

(6234, 12)

## Split Dataset