# Netflix Database

In the following Notebook we are going to explore the Netflix dataset downloaded from Kaggle. 
*The aim of this notebook is to create a model that can predict the clusters of the films according to different features.* For instance, we want to **classify in clusters the films and series (in separate ways) considering the actors, countries and directors and figure out if each clusters may be similar to the different genres.**

+ Firstly, we are going to split the dataset between movies and series.

+ Secondly, we are goint to wor with the features, encoding and proccesing them.

In [15]:
import scipy
from scipy import stats

#librer√≠as necesarias:

# Data handling
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Clustering
from sklearn.cluster import KMeans, DBSCAN
from sklearn import preprocessing
from sklearn.metrics import silhouette_score

# Dimensionality reduction
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA

# Visualization
import seaborn as sns
#import plotly.express as px
import matplotlib.pyplot as plt
import mpl_toolkits.mplot3d.axes3d as p3
from matplotlib import animation

%matplotlib inline

## Upload Dataset

In [26]:
data = pandas.read_csv('netflix_dataset.csv')

In [25]:
data.head()

,City1,City2,Month,Passenger_Trips,Aircraft_Trips,Passenger_Load_Factor,Distance_GC_(km),RPKs,ASKs,Seats,Year,Month_num
0,ADELAIDE,ALICE SPRINGS,30682,15743,143,81.8,1316,20717788.0,25327369.0,19246,1984,1
1,ADELAIDE,BRISBANE,30682,3781,32,89.8,1622,6132782.0,6829379.0,4210,1984,1
2,ADELAIDE,CANBERRA,30682,1339,12,94.7,972,1301508.0,1374348.0,1414,1984,1
3,ADELAIDE,DARWIN,30682,3050,33,66.8,2619,7987950.0,11958009.0,4566,1984,1
4,ADELAIDE,GOLD COAST,30682,1596,16,88.5,1607,2564772.0,2898047.0,1803,1984,1

In [18]:
data.shape

(6234, 12)

## Split Dataset

### Movies

In [19]:
films = data[data['type'] == 'Movie']

### TV Series

In [20]:
tv_series = data[data['type'] == 'TV Show']

In [21]:
# Shape Datasets

films.shape, tv_series.shape

((4265, 12), (1969, 12))

## Movies

In [23]:
films.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ib√°√±ez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...