# DATASET CREATION

In [2]:
import scipy
from scipy import stats

#librerías necesarias:

# Data handling
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Visualization
import seaborn as sns
#import plotly.express as px
import matplotlib.pyplot as plt
import mpl_toolkits.mplot3d.axes3d as p3
from matplotlib import animation

%matplotlib inline 
pd.set_option("max_rows", None)

## 2018

In [2]:
data_18 = pd.read_csv('credito-mensual-2018.csv')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,25,27,47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_18 = pd.DataFrame(data_18, columns=['impacto_presupuestario_anio', 'impacto_presupuestario_mes','inciso_id','inciso_desc', 'principal_id', 'principal_desc', 'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc', 'funcion_id', 'funcion_desc', 'ubicacion_geografica_id', 'ubicacion_geografica_desc', 'credito_devengado'])
data_18 = data_18[data_18['inciso_desc'] == 'Transferencias']

In [4]:
list = ['Transf. a Inst. Prov. y Mun. para Fin. Gastos Corrientes', 
        'Transf. a Inst. Prov. y Mun. para Financ. Gastos de Capital']

In [5]:
f_data_18 = data_18[data_18['principal_desc'].isin(list)]

In [6]:
f_data_18.shape

(14490, 15)

In [7]:
f_data_18['Fecha'] = f_data_18['impacto_presupuestario_anio'].map(str) + '/' + f_data_18['impacto_presupuestario_mes'].map(str)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
data_1 = pd.to_datetime(f_data_18['Fecha'])

In [9]:
f_data_18['Fecha'] = pd.PeriodIndex(data_1, freq='M')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
f_data_18.dtypes

impacto_presupuestario_anio       object
impacto_presupuestario_mes         int64
inciso_id                        float64
inciso_desc                       object
principal_id                     float64
principal_desc                    object
parcial_id                       float64
parcial_desc                      object
finalidad_id                      object
finalidad_desc                    object
funcion_id                       float64
funcion_desc                      object
ubicacion_geografica_id          float64
ubicacion_geografica_desc         object
credito_devengado                 object
Fecha                          period[M]
dtype: object

## 2019

In [3]:
data_19 = pd.read_csv('data/credito-mensual-2019.csv')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_19 = pd.DataFrame(data_19, columns=['impacto_presupuestario_anio', 'impacto_presupuestario_mes','inciso_id','inciso_desc', 'principal_id', 'principal_desc', 'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc', 'funcion_id', 'funcion_desc', 'ubicacion_geografica_id', 'ubicacion_geografica_desc', 'credito_devengado'])
data_19 = data_19[data_19['inciso_desc'] == 'Transferencias']

In [7]:
data_19.tail()

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,inciso_desc,principal_id,principal_desc,parcial_id,parcial_desc,finalidad_id,finalidad_desc,funcion_id,funcion_desc,ubicacion_geografica_id,ubicacion_geografica_desc,credito_devengado
533361,2019,12,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,3,Seguridad Social,18,Provincia de Corrientes,"199,6293045"
533362,2019,12,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,3,Seguridad Social,30,Provincia de Entre Ríos,"232,35838167"
533363,2019,12,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,3,Seguridad Social,34,Provincia de Formosa,"79,279198"
533364,2019,12,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,3,Seguridad Social,42,Provincia de La Pampa,"443,36532703"
533365,2019,12,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,3,Seguridad Social,82,Provincia de Santa Fe,"386,87354742"

In [5]:
f_data_19 = data_19[data_19['principal_desc'].isin(list)]

TypeError: only list-like objects are allowed to be passed to isin(), you passed a [type]

In [156]:
f_data_19.shape

(11843, 16)

In [15]:
f_data_19['Fecha'] = f_data_19['impacto_presupuestario_anio'].map(str) + '/' + f_data_19['impacto_presupuestario_mes'].map(str)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
data_2 = pd.to_datetime(f_data_19['Fecha'])

In [17]:
f_data_19['Fecha'] = pd.PeriodIndex(data_2, freq='M')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
f_data_19.groupby('finalidad_desc').sum()

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,principal_id,parcial_id,finalidad_id,funcion_id,ubicacion_geografica_id
finalidad_desc,,,,,,,,
ADMINISTRACION GUBERNAMENTAL,918645,2999,2275,3276,780,455,2083,22270
SERVICIOS DE DEFENSA Y SEGURIDAD,50475,142,125,184,55,50,47,954
SERVICIOS ECONOMICOS,1920069,5928,4755,7227,1938,3804,4138,40050
SERVICIOS SOCIALES,21021828,64177,52060,76745,23532,31236,40033,469201

## Data

In [ ]:
import glob

path = r'C:\Users\valen\Google Drive\Machine Learning\ML - GitHub\APP TNA Prov\Dataset\Data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, decimal=',')
    li.append(df)

data = pd.concat(li, axis=0, ignore_index=True)

### Deal with 2018 dataset

In [243]:
data_18 = pd.read_csv('data\credito-historico-mensual-2018.csv', decimal='.', delimiter=',')
data_18[:3]

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,impacto_presupuestario_anio,impacto_presupuestario_mes,ejercicio_presupuestario,sector_id,sector_desc,subsector_id,subsector_desc,caracter_id,caracter_desc,jurisdiccion_id,...,ubicacion_geografica_id,ubicacion_geografica_desc,unidad_ejecutora_id,unidad_ejecutora_desc,credito_presupuestado,credito_vigente,credito_comprometido,credito_devengado,credito_pagado,ultima_actualizacion_fecha
0,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2,Ciudad Autónoma de Buenos Aires,392,Honorable Cámara de Senadores,"3,551,920,148","3,551,920,148","18,892,017,107",188.920171,"17,602,475,615",Última actualización del ejercicio 2018: 24 Ju...
1,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2,Ciudad Autónoma de Buenos Aires,392,Honorable Cámara de Senadores,"478,837,045","478,837,045","5,518,279,227",55.182792,"5,518,149,636",Última actualización del ejercicio 2018: 24 Ju...
2,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2,Ciudad Autónoma de Buenos Aires,392,Honorable Cámara de Senadores,"188,328,774","188,328,774","0,12077023",0.001208,"0,1207694",Última actualización del ejercicio 2018: 24 Ju...

### Concatenate all Datasets

In [229]:
data_vf = pd.concat([data, data_18], axis=0, ignore_index=True)

In [230]:
data_vf.shape

(1698953, 53)

In [231]:
data_1 = pd.DataFrame(data_vf, columns=['impacto_presupuestario_anio', 'impacto_presupuestario_mes','inciso_id','inciso_desc', 'principal_id', 'principal_desc', 'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc', 'funcion_id', 'funcion_desc', 'ubicacion_geografica_id', 'ubicacion_geografica_desc', 'credito_devengado'])

In [232]:
data_2 = data_1[data_1['inciso_desc'] == 'Transferencias']

In [233]:
list = ['Transf. a Inst. Prov. y Mun. para Fin. Gastos Corrientes', 
        'Transf. a Inst. Prov. y Mun. para Financ. Gastos de Capital']

In [234]:
f_data = data_2[data_2['principal_desc'].isin(list)]
f_data.shape

(45992, 15)

In [235]:
f_data.columns

Index(['impacto_presupuestario_anio', 'impacto_presupuestario_mes',
       'inciso_id', 'inciso_desc', 'principal_id', 'principal_desc',
       'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc',
       'funcion_id', 'funcion_desc', 'ubicacion_geografica_id',
       'ubicacion_geografica_desc', 'credito_devengado'],
      dtype='object')

In [236]:
f_data['Fecha'] = f_data['impacto_presupuestario_anio'].map(str) + '/' + f_data['impacto_presupuestario_mes'].map(str)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [237]:
f_data_1 = pd.to_datetime(f_data['Fecha'])
f_data['Fecha'] = pd.PeriodIndex(f_data_1, freq='M')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [238]:
f_data.dtypes

impacto_presupuestario_anio        int64
impacto_presupuestario_mes         int64
inciso_id                          int64
inciso_desc                       object
principal_id                       int64
principal_desc                    object
parcial_id                         int64
parcial_desc                      object
finalidad_id                       int64
finalidad_desc                    object
funcion_id                         int64
funcion_desc                      object
ubicacion_geografica_id            int64
ubicacion_geografica_desc         object
credito_devengado                float64
Fecha                          period[M]
dtype: object

In [239]:
f_data[:5]

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,inciso_desc,principal_id,principal_desc,parcial_id,parcial_desc,finalidad_id,finalidad_desc,funcion_id,funcion_desc,ubicacion_geografica_id,ubicacion_geografica_desc,credito_devengado,Fecha
484,2017,1,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,1,ADMINISTRACION GUBERNAMENTAL,2,Judicial,2,Ciudad Autónoma de Buenos Aires,0.0,2017-01
3486,2017,1,5,Transferencias,7,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,2,Promoción y Asistencia Social,2,Ciudad Autónoma de Buenos Aires,0.0,2017-01
3517,2017,1,5,Transferencias,8,Transf. a Inst. Prov. y Mun. para Financ. Gast...,6,Transferencias a Gobiernos Municipales,3,SERVICIOS SOCIALES,2,Promoción y Asistencia Social,2,Ciudad Autónoma de Buenos Aires,0.0,2017-01
3580,2017,1,5,Transferencias,8,Transf. a Inst. Prov. y Mun. para Financ. Gast...,1,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,2,Promoción y Asistencia Social,2,Ciudad Autónoma de Buenos Aires,0.0,2017-01
3581,2017,1,5,Transferencias,8,Transf. a Inst. Prov. y Mun. para Financ. Gast...,6,Transferencias a Gobiernos Municipales,3,SERVICIOS SOCIALES,2,Promoción y Asistencia Social,2,Ciudad Autónoma de Buenos Aires,0.0,2017-01

In [240]:
f_data.dtypes

impacto_presupuestario_anio        int64
impacto_presupuestario_mes         int64
inciso_id                          int64
inciso_desc                       object
principal_id                       int64
principal_desc                    object
parcial_id                         int64
parcial_desc                      object
finalidad_id                       int64
finalidad_desc                    object
funcion_id                         int64
funcion_desc                      object
ubicacion_geografica_id            int64
ubicacion_geografica_desc         object
credito_devengado                float64
Fecha                          period[M]
dtype: object

In [242]:
group = pd.DataFrame(f_data, columns=['Fecha', 'credito_devengado'])

In [241]:
group.groupby('Fecha').sum()

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,principal_id,parcial_id,finalidad_id,funcion_id,ubicacion_geografica_id,credito_devengado
Fecha,,,,,,,,,
2017-01,7906640,3920,19600,29271,11955,11697,17579,179791,4646.845198
2017-02,3324016,3296,8240,12595,5149,4931,7961,76659,10248.862069
2017-03,2601930,3870,6450,9661,2979,3854,5441,59718,16278.508001
2017-04,2355856,4672,5840,8774,2933,3501,4683,53687,9228.645160
2017-05,2700763,6695,6695,10141,3029,4013,5199,61392,13143.831286
2017-06,3219132,9576,7980,11928,3870,4734,5747,72423,15746.252003
2017-07,2242904,7784,5560,8382,2845,3313,4304,49423,10237.159396
2017-08,2341737,9288,5805,8736,2807,3501,4576,51524,12674.398834
2017-09,3826249,17073,9485,13986,4867,5770,7749,82874,15111.760829
2017-10,2551505,12650,6325,9442,2930,3784,4711,54640,9699.925742
2017-11,2609998,14234,6470,9636,3396,3818,5255,57441,10449.782594
2017-12,3971473,23628,9845,14506,5832,5868,8311,85467,56292.732937
2018-01,4284214,2123,10615,15433,4707,6341,8675,93726,4157.638803
2018-02,1517536,1504,3760,5552,1455,2217,3273,34467,6766.054988
2018-03,1828308,2718,4530,6769,1677,2831,3714,41781,6366.218402
2018-04,1848488,3664,4580,6854,1948,2805,3596,39960,5193.412438
2018-05,2072486,5135,5135,7738,2284,3176,3973,46272,5240.290308
2018-06,2197602,6534,5445,8108,2427,3376,4313,48160,4895.682102
2018-07,1709246,5929,4235,6337,1943,2497,3263,38068,22230.144191
2018-08,2457924,9744,6090,9043,2689,3694,4733,54299,6586.228272
2018-09,2714210,12105,6725,9910,3084,4116,5303,60023,7534.706599
2018-10,2766678,13710,6855,10120,3397,4148,5513,62026,7044.751890
2018-11,2508374,13673,6215,9299,2906,3752,4775,55490,7275.892799
2018-12,3335754,19836,8265,12348,4222,4954,6333,74265,14146.326858
2019-01,3821967,1893,9465,13754,4292,5697,7633,87103,12005.441724
2019-02,1566744,1552,3880,5702,1473,2339,3023,34406,11229.079081
2019-03,1813062,2694,4490,6683,1763,2712,3809,41160,11783.875742
2019-04,1817100,3600,4500,6667,2152,2692,3639,41442,7956.154903
2019-05,1550592,3840,3840,5754,1688,2318,3041,34484,10103.171961
2019-06,1863537,5538,4615,6831,2046,2797,3535,40798,12448.397721
2019-07,1784796,6188,4420,6544,1983,2612,3253,39482,22943.501125
2019-08,1776720,7040,4400,6526,1970,2618,3434,40243,12788.170104
2019-09,2237052,9972,5540,8189,2595,3349,4265,48593,12021.747985
2019-10,1942278,9620,4810,7158,2080,2868,3494,42053,13578.605071
2019-11,1823157,9933,4515,6667,2249,2690,3587,39494,30567.787536
2019-12,1914012,11376,4740,6957,2014,2853,3588,43217,13652.276273