# DATASET CREATION

In [1]:
import scipy
from scipy import stats

#librerías necesarias:

# Data handling
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Visualization
import seaborn as sns
#import plotly.express as px
import matplotlib.pyplot as plt
import mpl_toolkits.mplot3d.axes3d as p3
from matplotlib import animation

%matplotlib inline 
pd.set_option("max_rows", None)

## 2018

In [2]:
data_18 = pd.read_csv('credito-mensual-2018.csv')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2,25,27,47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_18 = pd.DataFrame(data_18, columns=['impacto_presupuestario_anio', 'impacto_presupuestario_mes','inciso_id','inciso_desc', 'principal_id', 'principal_desc', 'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc', 'funcion_id', 'funcion_desc', 'ubicacion_geografica_id', 'ubicacion_geografica_desc', 'credito_devengado'])
data_18 = data_18[data_18['inciso_desc'] == 'Transferencias']

In [4]:
list = ['Transf. a Inst. Prov. y Mun. para Fin. Gastos Corrientes', 
        'Transf. a Inst. Prov. y Mun. para Financ. Gastos de Capital']

In [5]:
f_data_18 = data_18[data_18['principal_desc'].isin(list)]

In [6]:
f_data_18.shape

(14490, 15)

In [7]:
f_data_18['Fecha'] = f_data_18['impacto_presupuestario_anio'].map(str) + '/' + f_data_18['impacto_presupuestario_mes'].map(str)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
data_1 = pd.to_datetime(f_data_18['Fecha'])

In [9]:
f_data_18['Fecha'] = pd.PeriodIndex(data_1, freq='M')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
f_data_18.dtypes

impacto_presupuestario_anio       object
impacto_presupuestario_mes         int64
inciso_id                        float64
inciso_desc                       object
principal_id                     float64
principal_desc                    object
parcial_id                       float64
parcial_desc                      object
finalidad_id                      object
finalidad_desc                    object
funcion_id                       float64
funcion_desc                      object
ubicacion_geografica_id          float64
ubicacion_geografica_desc         object
credito_devengado                 object
Fecha                          period[M]
dtype: object

## 2019

In [11]:
data_19 = pd.read_csv('credito-mensual-2019.csv')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
data_19 = pd.DataFrame(data_19, columns=['impacto_presupuestario_anio', 'impacto_presupuestario_mes','inciso_id','inciso_desc', 'principal_id', 'principal_desc', 'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc', 'funcion_id', 'funcion_desc', 'ubicacion_geografica_id', 'ubicacion_geografica_desc', 'credito_devengado'])
data_19 = data_19[data_19['inciso_desc'] == 'Transferencias']

In [13]:
f_data_19 = data_19[data_19['principal_desc'].isin(list)]

In [156]:
f_data_19.shape

(11843, 16)

In [15]:
f_data_19['Fecha'] = f_data_19['impacto_presupuestario_anio'].map(str) + '/' + f_data_19['impacto_presupuestario_mes'].map(str)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
data_2 = pd.to_datetime(f_data_19['Fecha'])

In [17]:
f_data_19['Fecha'] = pd.PeriodIndex(data_2, freq='M')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
f_data_19.groupby('finalidad_desc').sum()

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,principal_id,parcial_id,finalidad_id,funcion_id,ubicacion_geografica_id
finalidad_desc,,,,,,,,
ADMINISTRACION GUBERNAMENTAL,918645,2999,2275,3276,780,455,2083,22270
SERVICIOS DE DEFENSA Y SEGURIDAD,50475,142,125,184,55,50,47,954
SERVICIOS ECONOMICOS,1920069,5928,4755,7227,1938,3804,4138,40050
SERVICIOS SOCIALES,21021828,64177,52060,76745,23532,31236,40033,469201

## Data

In [132]:
import glob

path = r'C:\Users\valen\Google Drive\Machine Learning\ML - GitHub\APP TNA Prov\Dataset\Data' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename)
    li.append(df)

data = pd.concat(li, axis=0, ignore_index=True)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,25,27,47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [133]:
data.shape

(1109329, 53)

In [134]:
data[:5]

,impacto_presupuestario_anio,impacto_presupuestario_mes,ejercicio_presupuestario,sector_id,sector_desc,subsector_id,subsector_desc,caracter_id,caracter_desc,jurisdiccion_id,...,ubicacion_geografica_id,ubicacion_geografica_desc,unidad_ejecutora_id,unidad_ejecutora_desc,credito_presupuestado,credito_vigente,credito_comprometido,credito_devengado,credito_pagado,ultima_actualizacion_fecha
0,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2.0,Ciudad Autónoma de Buenos Aires,392.0,Honorable Cámara de Senadores,"3,551,920,148","3,551,920,148","18,892,017,107","18,892,017,107","17,602,475,615",Última actualización del ejercicio 2018: 24 Ju...
1,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2.0,Ciudad Autónoma de Buenos Aires,392.0,Honorable Cámara de Senadores,"478,837,045","478,837,045","5,518,279,227","5,518,279,227","5,518,149,636",Última actualización del ejercicio 2018: 24 Ju...
2,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2.0,Ciudad Autónoma de Buenos Aires,392.0,Honorable Cámara de Senadores,"188,328,774","188,328,774","0,12077023","0,12077023","0,1207694",Última actualización del ejercicio 2018: 24 Ju...
3,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2.0,Ciudad Autónoma de Buenos Aires,392.0,Honorable Cámara de Senadores,"575,345,536","575,345,536","7,652,225,917","7,652,225,917","1,427,559,706",Última actualización del ejercicio 2018: 24 Ju...
4,2018,1,2018,1,Sector Público Nacional no Financiero,1,Administración Nacional,1,Administración Central,1,...,2.0,Ciudad Autónoma de Buenos Aires,392.0,Honorable Cámara de Senadores,"12,954,168","12,954,168","140,727,911","140,727,911","140,727,911",Última actualización del ejercicio 2018: 24 Ju...

In [135]:
data_1 = pd.DataFrame(data, columns=['impacto_presupuestario_anio', 'impacto_presupuestario_mes','inciso_id','inciso_desc', 'principal_id', 'principal_desc', 'parcial_id', 'parcial_desc', 'finalidad_id', 'finalidad_desc', 'funcion_id', 'funcion_desc', 'ubicacion_geografica_id', 'ubicacion_geografica_desc', 'credito_devengado'])

In [147]:
data_2 = data_1[data_1['inciso_desc'] == 'Transferencias']

In [148]:
list = ['Transf. a Inst. Prov. y Mun. para Fin. Gastos Corrientes', 
        'Transf. a Inst. Prov. y Mun. para Financ. Gastos de Capital']

In [149]:
f_data = data_2[data_2['principal_desc'].isin(list)]
f_data.shape

(26333, 15)

In [150]:
f_data['Fecha'] = f_data['impacto_presupuestario_anio'].map(str) + '/' + f_data['impacto_presupuestario_mes'].map(str)

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [151]:
f_data_1 = pd.to_datetime(f_data['Fecha'])
f_data['Fecha'] = pd.PeriodIndex(f_data_1, freq='M')

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [152]:
f_data.dtypes

impacto_presupuestario_anio        int64
impacto_presupuestario_mes         int64
inciso_id                        float64
inciso_desc                       object
principal_id                     float64
principal_desc                    object
parcial_id                       float64
parcial_desc                      object
finalidad_id                      object
finalidad_desc                    object
funcion_id                       float64
funcion_desc                      object
ubicacion_geografica_id          float64
ubicacion_geografica_desc         object
credito_devengado                 object
Fecha                          period[M]
dtype: object

In [153]:
f_data['credito_devengado'] = f_data['credito_devengado'].str.replace(",","")

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [154]:
f_data[:5]

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,inciso_desc,principal_id,principal_desc,parcial_id,parcial_desc,finalidad_id,finalidad_desc,funcion_id,funcion_desc,ubicacion_geografica_id,ubicacion_geografica_desc,credito_devengado,Fecha
487,2018,1,5.0,Transferencias,7.0,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1.0,Transferencias a Gobiernos Provinciales,1,ADMINISTRACION GUBERNAMENTAL,2.0,Judicial,2.0,Ciudad Autónoma de Buenos Aires,0,2018-01
3153,2018,1,5.0,Transferencias,7.0,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1.0,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,4.0,Educación y Cultura,2.0,Ciudad Autónoma de Buenos Aires,0,2018-01
3154,2018,1,5.0,Transferencias,8.0,Transf. a Inst. Prov. y Mun. para Financ. Gast...,1.0,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,4.0,Educación y Cultura,2.0,Ciudad Autónoma de Buenos Aires,0,2018-01
3155,2018,1,5.0,Transferencias,8.0,Transf. a Inst. Prov. y Mun. para Financ. Gast...,6.0,Transferencias a Gobiernos Municipales,3,SERVICIOS SOCIALES,4.0,Educación y Cultura,2.0,Ciudad Autónoma de Buenos Aires,0,2018-01
3182,2018,1,5.0,Transferencias,7.0,Transf. a Inst. Prov. y Mun. para Fin. Gastos ...,1.0,Transferencias a Gobiernos Provinciales,3,SERVICIOS SOCIALES,4.0,Educación y Cultura,2.0,Ciudad Autónoma de Buenos Aires,0,2018-01

In [145]:
f_data['credito_devengado'] = pd.to_numeric(f_data['credito_devengado'])

C:\Users\valen\anaconda3\envs\valentin\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [146]:
f_data.groupby('Fecha').sum()

,impacto_presupuestario_anio,impacto_presupuestario_mes,inciso_id,principal_id,parcial_id,funcion_id,ubicacion_geografica_id,credito_devengado
Fecha,,,,,,,,
2018-01,4284214,2123,10615.0,15433.0,4707.0,8675.0,93726.0,4.164917e+11
2018-02,1517536,1504,3760.0,5552.0,1455.0,3273.0,34467.0,6.795331e+11
2018-03,1828308,2718,4530.0,6769.0,1677.0,3714.0,41781.0,6.358219e+11
2018-04,1848488,3664,4580.0,6854.0,1948.0,3596.0,39960.0,5.215586e+11
2018-05,2072486,5135,5135.0,7738.0,2284.0,3973.0,46272.0,5.233750e+11
2018-06,2197602,6534,5445.0,8108.0,2427.0,4313.0,48160.0,4.905696e+11
2018-07,1709246,5929,4235.0,6337.0,1943.0,3263.0,38068.0,2.185819e+12
2018-08,2457924,9744,6090.0,9043.0,2689.0,4733.0,54299.0,6.548658e+11
2018-09,2714210,12105,6725.0,9910.0,3084.0,5303.0,60023.0,7.239619e+11
2018-10,2766678,13710,6855.0,10120.0,3397.0,5513.0,62026.0,6.155786e+11
2018-11,2508374,13673,6215.0,9299.0,2906.0,4775.0,55490.0,7.040317e+11
2018-12,3335754,19836,8265.0,12348.0,4222.0,6333.0,74265.0,1.395671e+12
2019-01,3821967,1893,9465.0,13754.0,4292.0,7633.0,87103.0,8.778796e+11
2019-02,1566744,1552,3880.0,5702.0,1473.0,3023.0,34406.0,6.475392e+11
2019-03,1813062,2694,4490.0,6683.0,1763.0,3809.0,41160.0,7.388332e+11
2019-04,1817100,3600,4500.0,6667.0,2152.0,3639.0,41442.0,5.388288e+11
2019-05,1550592,3840,3840.0,5754.0,1688.0,3041.0,34484.0,6.135695e+11
2019-06,1863537,5538,4615.0,6831.0,2046.0,3535.0,40798.0,7.943017e+11
2019-07,1784796,6188,4420.0,6544.0,1983.0,3253.0,39482.0,1.843935e+12
2019-08,1776720,7040,4400.0,6526.0,1970.0,3434.0,40243.0,9.379577e+11
2019-09,2237052,9972,5540.0,8189.0,2595.0,4265.0,48593.0,6.581481e+11
2019-10,1942278,9620,4810.0,7158.0,2080.0,3494.0,42053.0,4.813429e+11
2019-11,1823157,9933,4515.0,6667.0,2249.0,3587.0,39494.0,2.575631e+12
2019-12,1914012,11376,4740.0,6957.0,2014.0,3588.0,43217.0,7.180024e+11